venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.sqlite3
db.sqlite3
.env
media/
staticfiles/
.DS_Store
*.log
coverage/
htmlcov/
*.pot
*.mo
*.bak
*.db
*.sql
*.swp
*.swo
.DS_Store
.cache/
.pytest_cache/
.mypy_cache/

# Keep migrations folder but ignore bytecode
migrations/
!migrations/
!migrations/__init__.py
!migrations/*.py
